.App {
  margin: 16px;
}

.title {
  font-weight: 700;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
}

.weather-search-container {
  display: flex;
  gap: 5px;
  margin: 8px 0;
}

.weather-result {
  margin: 32px;
}

.weather-result .weather {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather-result .location,
.weather-result td.label {
  color: gray;
}

.weather-result-error {
  padding: 4px;
  margin: 8px 0 64px 0;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 1);
}

.weather-result-loading {
  padding: 4px;
  margin: 8px 0 64px 0;
  background-color: rgba(63, 195, 128, 0.1);
  border: 1px solid rgba(63, 195, 128, 1);
}

.search-history ol {
  margin-block-start: 0;
  padding-inline-start: 20px;
}

.search-history .no-record {
  color: gray;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  padding-top: 25px;
  border-bottom: 2px solid #ddd;
}

.history-item .actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.history-item button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #eee;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 250ms;
}

.history-item .search-button:hover {
  background-color: #aaa;
}
